@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway-black.ttf'),
        url('static/Raleway-BlackItalic.ttf') url('Raleway-VariableFont_wght.ttf') url('Raleway-Italic-VariableFont_wght.ttf')
}
body{
    margin: 0px;
    padding: 0px;
  
    
}
#main{
    margin: 12px;
    background-color:brown
}
#hebergemement{
    background-color:#f2f2f2;
}

footer{
    display: flex;
    justify-content: space-around;
    align-content: flex-;
    background-color:#f2f2f2;
}

#imghebergemement{

}