@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

.fas{
    color: #0065FC;
}
body{
    width: 1690px;
    margin: auto;
}
@media screen and (max-width:376px) {
    body{
        width: 100%;
    }
    .min{
        width: 100%;
    }
    #body{
        display: flex;
        flex-direction: column;
    }
    aside{
        display: none;
    }
    nav{
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        

    }   
}
.main{
    width: 93%;
    margin: auto;
}
.starscontent1{
    position: relative;
    right: 30px;
    top: 30px;
}
.starscontent2{
    position: relative;
    right: 30px;
    top: 10px;
}
.starsempty .fas{
    color: #D9D9D9;
}
/*------------------------------------*\
  #NAV
\*------------------------------------*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px; 
}
.logo{
    height: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
}
.tab:hover{
    border-top: 4px solid blue;
}
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}
h1{
    margin-bottom: -5px;
    font-size: 1.5em;
}
.subtitle{
    font-size: 1.2em;
}
.logoimg {
    width: 10%;
}
#search{ 
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30.5%;
    height: 60px;
    margin-bottom: 40px;
}
.searchbutton{
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    background-color:#0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
}
.maps{
    background-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.maps .fa-map-marker-alt{
    color: black;
}
input{
    height: 100%;
    font-weight: bold;
    font-size: 1.05em;
    padding-left:1em ; 
}

#filter{
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 75%;
}
.underfilters:hover{
    font-size: 1.6em;

}
.titlesfilter{
    font-size: 1.4em;
}

.underfilters{
    border: 3px solid #D9D9D9;
    border-radius: 50px;
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 25px;
    width: 100%;
    height: 50px;
    margin-right: 15px;
    color: black;
}
.under{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.underfilters .fas{
    border-radius: 50px ;
    background-color: #DEEBFF;
    padding: 5px;
    margin-left: -3px;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:link{
    color: black;
    text-decoration: none;

}
.underfilters p{
    font-weight: bold;
}
.info{
    display: flex;
    margin-left: 20px;
    margin-bottom: 25px;
}
.infoicons{
    font-size: 20px;
    border-radius: 50px;
    height: 18px;
    width: 14px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    background-color:blue ;
    display: flex;
    align-self: center;
}
.infotext{
    padding-left: 25px;
    font-size: 1.5em;
}
.infoicons .fas {
    color:white;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    font-size: 1em;
    position: relative;
    right: 10px;
    font-size: 30px;
}

/*------------------------------------*\
  #SECTION HEBERGEMENTS
\*------------------------------------*/
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hebergemement{
    background-color:#f2f2f2;
    border-radius: 30px;
    width: 68%;
    height: 675px;
    display: flex;
    flex-direction: column; 
}
.HBtitle{
    padding-left: 50px;
}
.HBmore{
    padding-left: 50px;
    margin-top: -25px;
    font-weight: bold;
    text-decoration: underline black;

}
.HBmore p{
    color: black;
    
}
.HBarticle{
    width: 27%;
    height: 40%;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    margin-right: 55px;
    box-shadow: 0 0 16px #0000002e;  
}
.HBarticle:hover{



}
.infoHB{
    position: relative;
    bottom:15px;
    left: 15px;
}
.starsHB{
    position: relative;
    bottom: 25px;
    right: 40px;
}
.priceHB{
    position: relative;
    bottom: 15px;
}
#figure1{
    width: 100%;
    height: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgHB{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px ;
}
.starsHB{
    position: relative;
    bottom: ;
}

/*------------------------------------*\
  #ASIDE
\*------------------------------------*/
aside{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 30%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}
#titlepopular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 35px;
    align-items: center;
}
.contentpopularimg{ 
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    width: 83%;
    margin: auto;
    display: flex;
    box-shadow: 0 0 16px #0000002e; 
}
.txtpopular{
    position: relative;
    bottom: 15px;
    left: 10px;  
}
.pricepopular{
    position: relative;
    bottom: 10px;
}
.txtpopular h4:visited{
    color: black;
}
.contentpopularimg:hover{
    width: 84%;
    height: 95%;
}
.imgpopular{
    width: 150px;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    object-fit: cover;
}

/*------------------------------------*\
  #SECTION activity
\*------------------------------------*/
.activity{
    width: 100%;
    height: 550px;
    margin-top: 50px;
    
}
.activityfigure{
    display: flex;
    width: 100%;
    margin-left: 0px;
}
.groupe1{
    height: 574px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 30px;
}
.groupe2{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.soloactivity{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 97%;
    box-shadow: 0 0 16px #0000002e;
}
.soloactivity:hover{
    width: 81%;
    height: 98%;
}
.soloactivity2{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 20px;
    height: 97%;
    box-shadow: 0 0 16px #0000002e;
}
.soloactivity2:hover{
    width: 87%;
    height: 98%;
}

.sousgroupe11{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;
}
.sousgroupe11:hover{
    width: 101%;
    height: 95%;
}
.sousgroupe12{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;
}
.sousgroupe12:hover{
    width: 101%;
    height: 94%;
}
.sousgroupe21{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;   
}
.sousgroupe21:hover{
    width: 101%;
    height: 94%;
}
.sousgroupe22{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;
}
.sousgroupe22:hover{
    width: 101%;
    height: 95%;
}


.imgactivity{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 6px; 
}

.imggroupe11{
    width: 100%;
    height: 230px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}
.imggroupe12{
    width: 100%;
    height: 180px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}

.imggroupe21{
    width: 100%;
    height: 190px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}
.imggroupe22{
    width: 100%;
    height: 220px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}

.titleactivity{
    margin-bottom: 25px;
}
.activitydescription{
    position: relative;
    left: 15px;
    bottom: 3px;
    font-size: 1.2em;
    font-weight: bold;
}
.GRPactivitydescription{
    position: relative;
    left: 15px;
    bottom: 15PX;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.1em;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer{
    display: flex;
    justify-content: space-around;
    background-color:#f2f2f2;
    width: 100%;
    position: absolute;
    left: 0px;
    margin-top: 130px;
}
.containefooter{
    position: relative;
    right: 130px;
}
.containefooter p{
    color: black;
    font-size: 1.1em;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
