html {
    font-family: 'Raleway', sans-serif;
}
body {
  font-family: "Raleway", "Sans serif";
}
#main {
    width: 95%;
    margin:auto;
}
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

#containeheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#onglet{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.logoimg {
    width: 10%;
}
.hebe:hover{
    text-decoration: underline;

    
}
.acti{

}
.login{

}
/*------------------------------------*\
  #NAV
\*------------------------------------*/
#search{ 
    background-color:#0065FC;
    color: white;
    width: 24%;
    border-radius: 10px;
    font-size: 2em;
    display: flex;
    justify-content: flex-start
}

nav .fas{
    color: black;
    font-size: 0.6em;
    width: 100%;
}
#filtres{
    display: flex;
    justify-content: space-around;
}
nav #filtres div{
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav #filtres div i{
    border-radius: 30px;
    border: 1px solid;
    font-size:2em;
    background-color: rgb(222, 235, 255)
}
.info{
    display: flex;
    flex-direction: row;
    
}
/*------------------------------------*\
  #SECTION
\*------------------------------------*/
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hebergemement{
    background-color:#f2f2f2;
    border-radius: 30px;
    width: 68%;   
}
#figureimg{
    display: flex;
   
}
#figureimg img{
  
}
.hebergemements{
    width : 50%;
    height :50%;
    border: 1px solid brown;
    padding: 12px;
    background-color:white;
    border-radius: 30px;  
}
#activités{
    max-width: 100%;
    width : 100%;    
    
}
#activitésfigure{
    background-color:black;
    display: flex;
    justify-content: row;    
}
#activités img{
    border-radius: 30px;
    width: 100%;
    border-bottom: 1px solid white;
}
#groupe1{
    width: 16%;
}
#groupe2{
    width: 16%;
}
.sousgroupe{

}
/*------------------------------------*\
  #ASIDE
\*------------------------------------*/


#popular{
    background-color: #f2f2f2;
    border-radius: 30px;
    border: 3px solid gray;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    border: 1px solid #ccc;
    padding:8px;
    background-color: white;
    border-radius: 30px;
    max-width: 93%;
    

}
#contentpopular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer{
    display: flex;
    justify-content: space-around;
    background-color:#f2f2f2;
}
#foter{
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -8px;
}
