@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

.fas{
    color: #0065FC;
}
body{
    width: 1690px;
    margin: auto;
}

.main{
    width: 93%;
    margin: auto;
}

.starsempty .fas{
    color: #D9D9D9;
}
@media only screen and (max-width: 376px)
 {
    body{
        width:375px;
    }
    .main{
        width: 100%;
        margin: 0px;
    }

}
@media only screen and (min-width:377px) and (max-width:1025px)
 {
    body{
        width: 100%;
        margin-left:0px ;
        
    }
    .main{
        width: 100%;
        margin: 0px;
    }

}
/*------------------------------------*\
  #NAV
\*------------------------------------*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px; 
    margin-top: 39px;
}
.logo{
    height: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
}
.navigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 50px;
}
.TABhebergements{
    position: relative;
    bottom: 30px;
    width: 150px;
    padding-left: 15px;
    padding-top:15px;
    border-top: 15px solid #0065FC;
}
.TABactivités:hover{
    border-top: 4px solid blue;
}
.TABactivités:hover{
    border-top: 4px solid #DEEBFF;
}
.login{
    color: #0065FC;
}
@media only screen and (max-width: 376px)
 {
    .logo{
        position: relative;
        right: 120px;
    }
    .TABhebergements{
        border-top: none;
        
    }    
    .login{
        position: absolute;
        top:1px;
        right: 20px; 
    }
    nav{
        flex-direction: column;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        position: absolute;
        left: 0px;
        width: 100%;
        
    }
    .logo{
        margin: -35px;
    }
    .TABhebergements{
        margin-top: 15px;
        margin-bottom: -20px;
        border-bottom:5px solid blue;
        width: 50%;
        padding-left: 35px;
    }    
    .TABactivités{
        border-bottom:5px solid #DEEBFF;
        width: 50%;
        margin-bottom: 10px;
        padding-left:  40px;
    }
}
@media only screen and (min-width:377px) and (max-width:1025px)
 {  
    .navigation{
        padding-right: 15px;
        margin-left: -10px;
        
    }
    nav{
        margin-left: 10px;
        margin-right: 120px;
    }
    .TABhebergements{
        margin-right:40px;
    }
    .login{
        margin-left: 15px;
    }

 }

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}
h1{
    margin-bottom: -5px;
    font-size: 1.5em;
}
.subtitle{
    font-size: 1.2em;
}
.logoimg {
    width: 10%;
}
#search{ 
    color: white;
    display: flex;
    width: 30.5%;
    height: 60px;
    margin-bottom: 40px;
}
.searchbutton{
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    background-color:#0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 100px;
}
.maps{
    background-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.maps .fa-map-marker-alt{
    color: black;
}
input{
    height: 100%;
    font-weight: bold;
    font-size: 1.05em;
    padding-left:1em ; 
}

#filter{
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 70%;
}


.underfilters:hover{
    box-shadow: 0 0 16px blue;

}
.titlesfilter{
    font-size: 1.4em;
}

.underfilters{
    border: 3px solid #D9D9D9;
    border-radius: 50px;
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 17px;
    width: 100%;
    height: 35px;
    margin-right: 15px;
    color: black;
}
.under{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.underfilters .fas{
    border-radius: 50px ;
    background-color: #DEEBFF;
    padding: 5px;
    margin-left: -3px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:link{
    color: black;
    text-decoration: none;

}
.underfilters p{
    font-weight: bold;
}
.info{
    display: flex;
    margin-left: 20px;
    margin-bottom: 25px;
}
.infoicons{
    font-size: 20px;
    border-radius: 50px;
    height: 18px;
    width: 14px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    background-color:blue ;
    display: flex;
    align-self: center;
}
.infotext{
    padding-left: 25px;
    font-size: 1.2em;
}
.infoicons .fas {
    color:white;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    font-size: 1em;
    position: relative;
    right: 10px;
    font-size: 30px;
}
@media only screen and (min-width:377px) and (max-width:1025px)
 {  
    header{
        margin-left: 10px;
    }
    #filter{
        width: 90%;
        
    }
    .under{
        justify-content: space-between;
        
    }
    #search{
        width: 46%;
    }
 }
@media only screen and (max-width: 376px)
 {
    #search{
        width:% ;
    }
    #filter{
        display: flex;
        flex-direction: column;
    }
    .under{
        flex-wrap: wrap;
    }
    header{
        margin-top: 100px;
        margin-left: 15px;
    }
    #filter{
        margin-left: -30px;
    
    }
    .titlesfilter{
        margin-left: -100px;
    }
     

}

/*------------------------------------*\
  #SECTION HEBERGEMENTS
\*------------------------------------*/
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (min-width:377px) and (max-width:1025px)
 {
    #body{
        width: 1025px;
        display: flex;
    }

 }
@media only screen and (max-width: 376px)
 {
    #body{
        display: flex;
        flex-direction: column-reverse;
    }

}

#hebergement{
    background-color:#f2f2f2;
    border-radius: 30px;
    width: 68%;
    height: 675px;
    display: flex;
    flex-direction: column; 
}

.HBtitle{
    padding-left: 50px;
}
.HBmore{
    padding-left: 50px;
    margin-top: -25px;
    font-weight: bold;
    text-decoration: underline black;

}
.HBmore p{
    color: black;
    
}
.HBarticle{
    width: 27%;
    height: 40%;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    margin-right: 55px;
    box-shadow: 0 0 16px #0000002e;  
}
.HBarticle2{
    width: 27%;
    height: 40%;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    margin-right: 55px;
    box-shadow: 0 0 16px #0000002e;
}
.HBarticle:hover{
    box-shadow: 0 0 16px blue;

}
.HBarticle2:hover{
    box-shadow: 0 0 16px blue;

}

.infoHB{
    position: relative;
    bottom:15px;
    left: 15px;
}
.starsHB{
    position: relative;
    bottom: 25px;
    right: 40px;
}
.priceHB{
    position: relative;
    bottom: 15px;
}
#figure1{
    width: 100%;
    height: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgHB{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px ;
}
@media only screen and (min-width:377px) and (max-width:1025px)
 { 
    #hebergement{
        background-color:#f2f2f2;
        border-radius: 0px;
        width: 68%;
        height: 675px;
        display: flex;
        flex-direction: column;
    }

    #figure1{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 0px;
        margin-top: -5px;
    }
    .HBarticle{
        width: 90%;
        height: 28%;
        display: flex;
        margin: auto;
        margin-top: 39px;
    }
    .HBarticle2{
        display: none;
    }
    .imgHB{
        height: 100%;
        width: 280px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }
    .HBtitle{
        margin-left: -30px;
        margin-top: -15px;
        margin-bottom: 15px;
    }
    .HBmore{
        margin-top: 15px;
        margin-left: -20px;
    }
    .infoHB{
        position: relative;
        left: 290px;
        bottom: 170px;
        flex-wrap: wrap;
    }
    .infoHB H3{ 
        width: 99%;
        
    }
    .starsHB{
        position: relative;
        top: 45px;
    }
 }
@media only screen and (max-width: 376px)
 { 
    #hebergement{
        border-radius: 30px;
        width: 100%;
        height: 1500px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        background-color: white;
    }

    #figure1{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 50px;
    }
    .HBarticle{
        width: 90%;
        height: 15%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
    }
    .HBarticle2{
        width: 90%;
        height: 15%;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
    }
    .imgHB{
        height: 100px;
    }
    .HBtitle{
        margin-left: -30px;
    }
    .HBmore{
        margin-top: 60px;
        margin-left: -30px ;
    }
 }
/*------------------------------------*\
  #ASIDE
\*------------------------------------*/
aside{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 30%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

#titlepopular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 35px;
    align-items: center;
}
.contentpopularimg{ 
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    width: 83%;
    margin: auto;
    display: flex;
    box-shadow: 0 0 16px #0000002e; 
}
.txtpopular{
    position: relative;
    bottom: 15px;
    left: 10px;  
}
.pricepopular{
    position: relative;
    bottom: 10px;
}
.txtpopular h4:visited{
    color: black;
}
.contentpopularimg:hover{
    box-shadow: 0 0 16px blue;
}
.imgpopular{
    width: 150px;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    object-fit: cover;
}
.starscontent1{
    position: relative;
    right: 30px;
    top: 30px;
}
.starscontent2{
    position: relative;
    right: 30px;
    top: 10px;
}   
@media only screen and (max-width: 376px)
 {
    aside{
        width: 100%;
        border-radius: 0px;
    }
    .starscontent1{
        position: relative;
        top: 0px;
    }
    .starscontent2{
        position: relative;
        top: -15px;
    }
 }
 @media only screen and (min-width:377px) and (max-width:1025px)
 {
    aside{
        width: 50%;
        background-color: white;
        
    }
    .contentpopularimg{
        margin-bottom: 20px;
        height: 79%;
    }
    #titlepopular{
        margin-top: -15px;
    }
    .starscontent1{
        position: relative;
        top: 10px;
    }
    .starscontent2{
        margin-right: 2px;
    }
    .imgpopular{
        height: 141px;
    }

}

/*------------------------------------*\
  #SECTION activity
\*------------------------------------*/
.activity{
    width: 100%;
    height: 550px;
    margin-top: 50px;
    
}
.activityfigure{
    display: flex;
    width: 100%;
    margin-left: 0px;
}

.groupe1{
    height: 574px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 30px;
}
.groupe2{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.soloactivity{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 97%;
    box-shadow: 0 0 16px #0000002e;
}
.soloactivity:hover{
    box-shadow: 0 0 16px blue;
}
.soloactivity2{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 20px;
    height: 97%;
    box-shadow: 0 0 16px #0000002e;
}
.soloactivity2:hover{
    box-shadow: 0 0 16px blue;
}

.sousgroupe11{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;
}
.sousgroupe11:hover{
    box-shadow: 0 0 16px blue;
}
.sousgroupe12{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;
}
.sousgroupe12:hover{
    box-shadow: 0 0 16px blue;
}
.sousgroupe21{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;   
}
.sousgroupe21:hover{
    box-shadow: 0 0 16px blue;
}
.sousgroupe22{
    box-shadow: 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    box-shadow: 0 0 16px #0000002e;
}
.sousgroupe22:hover{
    box-shadow: 0 0 16px blue;
}


.imgactivity{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 6px; 
}

.imggroupe11{
    width: 100%;
    height: 230px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}
.imggroupe12{
    width: 100%;
    height: 180px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}

.imggroupe21{
    width: 100%;
    height: 190px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}
.imggroupe22{
    width: 100%;
    height: 220px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    object-fit: cover;
}

.titleactivity{
    margin-bottom: 25px;
}
.activitydescription{
    position: relative;
    left: 15px;
    bottom: 3px;
    font-size: 1.2em;
    font-weight: bold;
}
.GRPactivitydescription{
    position: relative;
    left: 15px;
    bottom: 15PX;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.1em;
}
@media only screen and (min-width:377px) and (max-width:1025px)
 {
    .activity{
        width: 100%;
        margin: auto;
        margin-left: 13px;
    }
    .soloactivity{
        box-shadow: 2px 2px 2px #f2f2f2;
        border-radius: 30px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 97%;
        box-shadow: 0 0 16px #0000002e;
    }
    .soloactivity2{
        box-shadow: 2px 2px 2px #f2f2f2;
        border-radius: 30px;
        width: 86%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 20px;
        height: 97%;
        box-shadow: 0 0 16px #0000002e;
    }
    .sousgroupe11{
        width: 100%;
    }
    .groupe2{
        display: none;
    }

 }
@media only screen and (max-width: 376px)
 {
    .activityfigure{
        display: flex;
        flex-direction: column;
    }
    .activity{
        width: 375px;
        margin-top: -90px;
        margin-left: 15px;
    }
    .soloactivity{
        width: 92%;
        height: 180px;
    }
    .imgactivity{
        width: 100%;
        height: 75%;
    }
    .soloactivity2{
        width: 91%;
        margin-top: -115px;
        margin-left: -20px;
        height: 180px;
    }
    .sousgroupe11{
        margin-top: 35px;
        margin-left: 30px;
        width: 57%;
        height: 180px;
    }
    .imggroupe11{
        height: 75%;
    }
    .sousgroupe12{
        margin-bottom: 150px;
        margin-left: 30px;
        width: 57%;
        height: 180px;
    }
    .imggroupe12{
        height: 75%;
    }
    .sousgroupe21{
        width: 340px;
        height: 180px;
        margin-top: 35px;
    }
    .imggroupe21{
        height: 75%;
    }
    .sousgroupe22{
        margin-top: 35px;
        width: 340px;
        height: 180px;
    }
    .imggroupe22{
        height: 75%;
    }
    .titleactivity{
        padding-bottom: 20px;
    }
 }

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer{
    display: flex;
    justify-content: space-around;
    background-color:#f2f2f2;
    width: 100%;
    position: absolute;
    left: 0px;
    margin-top: 130px;
}
.containefooter{
    position: relative;
    right: 130px;
}
.containefooter p{
    color: black;
    font-size: 1.1em;
}
@media only screen and (max-width: 376px)
 {
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 850px;
    }
    .containefooter{
        position: relative;
        left: 10px;
    }
 }
 @media only screen and (min-width:377px) and (max-width:1025px)
 {
    footer{
        width: 100%;

    }
    .containefooter{
        margin-left: 150px;
       
    }
 }

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
