html {
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: "Raleway", "Sans serif";
    
}
#main {
    max-width: 1600px ;
    margin:auto;
}
.fas{
    color:blue;
}

/*------------------------------------*\
  #NAV
\*------------------------------------*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px; 
}
.logo{
    height: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
}
.tab:hover{
    border-top: 4px solid blue;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}
#onglet{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.logoimg {
    width: 10%;
}
#search{ 
    background-color:#0065FC;
    color: white;
    width: 24%;
    border-radius: 10px;
    font-size: 32px;
    display: flex;
    justify-content: flex-start
}

#filter{
    display: flex;
    align-items: center;
    
}

.underfilters{
    border: 3px solid #DEEBFF;
    border-radius: 20px;
    margin-right: 130px;
    position: relative;
    left: 20px;
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 30px;
}
.underfilters .fas{
    border-radius: 500px ;
    background-color: #DEEBFF;
    padding: 5px;
    margin-left: -2px;
    
}
.info{
    display: flex;
    flex-direction: row;
}

/*------------------------------------*\
  #SECTION HEBERGEMENTS
\*------------------------------------*/
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hebergemement{
    background-color:#f2f2f2;
    border-radius: 30px;
    width: 68%;
    display: flex;
    flex-direction: column;
}
.HBarticle{
    width: 30%;
    
    
}
#figure1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
    height: 100%;
}

.imgHB{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/*------------------------------------*\
  #ASIDE
\*------------------------------------*/


aside{
    background-color: #f2f2f2;
    border-radius: 30px;
    border: 3px solid gray;
    width: 30%;
    height: 40%;
}
#titlepopular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contentpopularimg{
    border: 1px solid #ccc;
    padding:8px;
    background-color: white;
    border-radius: 30px;

}
.imgpopular{
    max-width: 40%;
}

/*------------------------------------*\
  #SECTION activité
\*------------------------------------*/
#activités{
    background-color:red;
    max-width: 100%;
}
#activitésfigure{
    background-color:black;
    display: flex;
    justify-content: row;
    width: 50%;    
}
#activités img{
    border-radius: 30px;
    width: 100%;
    border-bottom: 1px solid white;
}
#groupe1{
    width: 16%;
}
#groupe2{
    width: 16%;
}
.sousgroupe{

}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer{
    display: flex;
    justify-content: space-around;
    background-color:#f2f2f2;
    margin-bottom: -50px;
    margin-left: -50px;
    margin-right: -50px;
}