html {
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: "Raleway", "Sans serif";
    
}
#main {
    width: 1440px;
    margin:auto;
}
.fas{
    color:blue;
}

/*------------------------------------*\
  #NAV
\*------------------------------------*/
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.hebe{
    display: flex;
    flex-direction: row;
    padding-left: 4.5em;
}
.logins{
    display: flex;
    flex-direction: row;
    padding-left: 4.5em;

}
.hebe:hover{
    text-decoration: overline
    padding;
}
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#onglet{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.logoimg {
    width: 10%;
}
#search{ 
    background-color:#0065FC;
    color: white;
    width: 24%;
    border-radius: 10px;
    font-size: 32px;
    display: flex;
    justify-content: flex-start
}

header .fas{
    color;
    font-size: 0.6em;
    width: 100%;
}
#filtres{
    display: flex;
    justify-content: space-around;
}
header #filtres div{
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header #filtres div i{
    border-radius: 30px;
    border: 1px solid;
    font-size:2em;
    background-color: rgb(222, 235, 255)
}
.info{
    display: flex;
    flex-direction: row;
    
}
/*------------------------------------*\
  #SECTION
\*------------------------------------*/
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hebergemement{
    background-color:#f2f2f2;
    border-radius: 30px;
    width: 68%;   
}
#figureimg{
    display: flex;
   
}
#figureimg img{
  
}
.hebergemements{
    width : 50%;
    height :50%;
    border: 1px solid brown;
    padding: 12px;
    background-color:white;
    border-radius: 30px;  
}
#activités{
    background-color:red;
    max-width: 100%;
}
#activitésfigure{
    background-color:black;
    display: flex;
    justify-content: row;
    width: 50%;    
}
#activités img{
    border-radius: 30px;
    width: 100%;
    border-bottom: 1px solid white;
}
#groupe1{
    width: 16%;
}
#groupe2{
    width: 16%;
}
.sousgroupe{

}
/*------------------------------------*\
  #ASIDE
\*------------------------------------*/


#popular{
    background-color: #f2f2f2;
    border-radius: 30px;
    border: 3px solid gray;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contentpopularimg{
    border: 1px solid #ccc;
    padding:8px;
    background-color: white;
    border-radius: 30px;
    display: flex;
}
.imgpopular{
    max-width: 100%;
}
#contentpopular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer{
    display: flex;
    justify-content: space-around;
    background-color:#f2f2f2;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -8px;
}