html {
    font-family: 'Raleway', sans-serif;
}
#main {
    width: 1440px ;
    margin:auto;
    
}
.fas{
    color:blue;
}
/*------------------------------------*\
  #NAV
\*------------------------------------*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px; 
}
.logo{
    height: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
}
.tab:hover{
    border-top: 4px solid blue;
}
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}
h1{
    margin-bottom: -5px;
}
.logoimg {
    width: 10%;
}
#search{ 

    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 32%;
    height: 50px;
    margin-bottom: 20px;
}
.searchbutton{
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    background-color:#0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px ;
    max-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.maps{
    background-color: #f2f2f2;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.maps .fa-map-marker-alt{
    color: black;
}
input{
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 1.05em;
    padding-left:1em ; 
}

#filter{
    display: flex;
    align-items: center;

}

.underfilters{
    border: 3px solid #DEEBFF;
    border-radius: 20px;
    position: relative;
    left: 30px;
    margin-right: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 25px;
    font-size: 25px;
}
.underfilters .fas{
    border-radius: 500px ;
    background-color: #DEEBFF;
    padding: 5px;
    margin-left: -2px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underfilters p{
    font-weight: bold;
}
.info{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.infotext{
    padding-left: 15px;
}

/*------------------------------------*\
  #SECTION HEBERGEMENTS
\*------------------------------------*/
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hebergemement{
    background-color:#f2f2f2;
    border-radius: 30px;
    width: 68%;
    display: flex;
    flex-direction: column;
}
.HBarticle{
    width: 30%;
    
    
}
#figure1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
    height: 100%;
}
.imgHB{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
/*------------------------------------*\
  #ASIDE
\*------------------------------------*/
aside{
    background-color: #f2f2f2;
    border-radius: 30px;
    border: 3px solid gray;
    width: 30%;
    height: 40%;
}
#titlepopular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contentpopularimg{
    border: 1px solid #ccc;
    padding:8px;
    background-color: white;
    border-radius: 30px;
}
.imgpopular{
    max-width: 40%;
}
/*------------------------------------*\
  #SECTION activité
\*------------------------------------*/
#activités{
    background-color:red;
    max-width: 100%;
}
#activitésfigure{
    background-color:black;
    display: flex;
    justify-content: row;
    width: 50%;    
}
#activités img{
    border-radius: 30px;
    width: 100%;
    border-bottom: 1px solid white;
}
#groupe1{
    width: 16%;
}
#groupe2{
    width: 16%;
}
.sousgroupe{
}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
footer{
    display: flex;
    justify-content: space-around;
    background-color:#f2f2f2;
    width: 100%;
}