@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway-black.ttf'),
        url('static/Raleway-BlackItalic.ttf') url('Raleway-VariableFont_wght.ttf') url('Raleway-Italic-VariableFont_wght.ttf')
}
body{
      
}
#containeheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.onglet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{ 
    background-color:#0065FC;
    color: white;
    width: 24%;
    border-radius: 5px;
    font-size: 2em;
    display: flex;
}
nav .fas{
    color: black;
    background-color:#f2f2f2;
    font-size: 0.6em;
    width: 100%;
}

#filtres{
    display: flex;
    justify-content: space-around;
}
nav #filtres div{
    border: 1px solid;
    border-radius: 50px;

}
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#hebergemement{
    background-color:#f2f2f2;
    border-radius: 30px;
    padding-left: 10px;
    width: 100%;
}
#popular{
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
img{
    width: 50%;
}


figure{
    display: flex;
}

footer{
    display: flex;
    justify-content: space-around;
    align-content: flex-;
    background-color:#f2f2f2;
}

